/* ==========================================================================
   1. Contenedor Principal
   ========================================================================== */
#autofillautosave_moodle {
    display: flex;
    flex-direction: column;

    /* Altura ajustable según se requiera */
}

/* ==========================================================================
     2. Sección: Ruta y Ciclo
     ========================================================================== */

#containerRutaFirebase .title {
    font-size: 14px;
    font-weight: 600;
}

#containerRutaFirebase .label {
    font-size: 14px;
    color: #34495e;
}

/* ==========================================================================
     4. Sección: Ruta Dinámica
     ========================================================================== */

.select-ruta {
    width: 100%;
    padding: 3px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    background-color: #ffffff;
    color: #2c3e50;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 5px;
}

.boton-ruta {
    width: 100%;
    padding: 5px;
    background-color: #0072c5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


#containerRutaFirebase {
  display: flex;
  flex-direction: column; /* o row, dependiendo de cómo quieras alinear los div */
  height: 38px;
  margin-left: 2px;
}

#containerRutaFirebase div {
  margin-top: -6px;
  padding: 0;
}



/* ==========================================================================
     5. Sección: Wrapper de AutoFill y AutoSave
     ========================================================================== */
/* Contenedor padre */
#container-autofillautosave {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 580px; /* Se fija la altura total */
    /* Si prefieres que sea máximo, podrías usar max-height en lugar de height */
  }
  
  /* Reglas compartidas para cada subcontenedor */
  .subcontainer-autoquiz-autofill {
    background-color: #f4f4f4;
    padding: 5px 5px 5px 10px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    margin: 0;
    flex: 0 1 auto;        /* Altura basada en el contenido (auto) */
    max-height: 50%;  
    overflow-y: auto;
  }


  .subcontainer-autoquiz-autosave {
    background-color: #f4f4f4;
    padding: 5px 5px 5px 10px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    flex: 0 1 auto;        /* Altura basada en el contenido (auto) */
    max-height: 50%;  
    overflow-y: auto; 

}

@media (max-height: 580px) {
    .subcontainer-autoquiz-autofill,
    .subcontainer-autoquiz-autosave {
        flex: 1;
        max-height: 50%;
    }
}


  
 /* Asegura que el contenedor del cuerpo pueda usar todo el ancho disponible */
#body-autoquiz-autosave,
#body-autoquiz-autofill {
    flex-direction: column;
    font-size: 11px;
    overflow-y: auto;
    height: calc(100% - 30px);
  }

    /* Estilos para la barra de desplazamiento vertical en ambos subcontenedores */
    #body-autoquiz-autosave::-webkit-scrollbar,
    #body-autoquiz-autofill::-webkit-scrollbar {
      width: 0.4em; /* Ancho de la barra de desplazamiento */
    }
    
    #body-autoquiz-autosave::-webkit-scrollbar-thumb,
    #body-autoquiz-autofill::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); /* Color del thumb */
      border-radius: 10px;
    }
    
    #body-autoquiz-autosave::-webkit-scrollbar-track,
    #body-autoquiz-autofill::-webkit-scrollbar-track {
      background: transparent; /* Fondo transparente */
    }
    
    #body-autoquiz-autosave::-webkit-scrollbar-button,
    #body-autoquiz-autofill::-webkit-scrollbar-button {
      display: none; /* Oculta botones (flechas) */
    }
  
  /* Reglas para el elemento de la pregunta */
  .preguntaautosave {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    color: #34495e;
    flex-wrap: wrap;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
  }
  
  /* Si es necesario, también se puede aplicar a los elementos internos de respuestas */
  .respuestasautosave {
    width: 100%;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }
  
  #moodle-config label {
    margin-bottom: 0rem;
  }
  
  #subopcion-config {
    margin-bottom: 0rem;
    font-weight: 500;
    margin-left: 3px;
  }

/* --------------------------------------------------------------------------
     5.1. Subcontenedor de AutoFill
     -------------------------------------------------------------------------- */

/* Header de AutoFill: título y switch */
.header-autoquiz {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 30px;
}

.header-autoquiz h2 {
    font-size: 20px;
    font-weight: 600;
    color: #34495e;
    margin: 0;
}

/* Switch para AutoFill (y AutoSave) */
.switch-autoquiz {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin:0px;
}

.switch-autoquiz input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

.switch-autoquiz input:checked+.slider {
    background-color: #3498db;
}

.switch-autoquiz input:checked+.slider:before {
    transform: translateX(14px);
}

/* ==========================================================================
     2. Sección de Usuarios
     ========================================================================== */

/* Contenedor de usuarios (oculto por defecto) */
.users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* Usuario actual: ícono y nombre */
.usuario-actual {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.nombre-usuario {
    font-size: 14px;
    font-weight: 600;
    color: #34495e;
    margin: 0 5px;
}

/* Select para el siguiente usuario */
.select-siguiente-usuario {
    font-size: 14px;
    font-weight: 600;
    color: #34495e;
    border: none;
    background-color: transparent;
    outline: none;
    appearance: none;
    cursor: pointer;
    text-align: right;
    padding-right: 0;
    direction: rtl;
    /* Alinea el desplegable a la derecha */
}

/* Opciones dentro del select */
.select-siguiente-usuario option {
    font-size: 12px;
    padding: 10px;
    text-align: right;
    direction: ltr;
}

/* Limitación de altura y scroll vertical */
.select-siguiente-usuario {
    max-height: 30px;
    overflow-y: auto;
}

/* Personalización de la barra de desplazamiento */
.select-siguiente-usuario::-webkit-scrollbar {
    width: 2px;
}

.select-siguiente-usuario::-webkit-scrollbar-thumb {
    background-color: rgba(52, 73, 94, 0.2);
    border-radius: 10px;
}

.select-siguiente-usuario::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Resalta la opción seleccionada */
.select-siguiente-usuario option:checked {
    background-color: #dcdde1;
    font-weight: bold;
}

.select-siguiente-usuario option:hover {
    background-color: #f1f2f6;
}

.select-siguiente-usuario option:hover:checked {
    background-color: #dcdde1;
}

/* Botón para pasar al siguiente usuario */
.boton-siguiente-usuario {
    margin: 0;
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 3px;
}

.boton-siguiente-usuario i {
    font-size: 0.90em;
    color: #34495e;
}


.img-overlay {
    position: relative; /* Necesario para que el ::after se posicione relativo a este contenedor */
    display: inline-block; /* O block según convenga en tu diseño */
}

.img-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Fondo MediumBlue con 10% de opacidad */
    background-color: rgba(0, 0, 205, 0.2);
    pointer-events: none; /* Permite que se hagan clics sobre la imagen si fuera necesario */
}

#upload-autosave {
    position: relative;
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    font-size:0.9em; /* Ajusta el tamaño según necesites */
    color: inherit; /* Mantiene el color del texto */
    transition: color 0.3s ease-in-out;
}

#upload-autosave:hover {
    color: mediumblue;
}
