

 /* Estilos para el contenedor principal */
 .contenedor-login-autoquizfillapp {
    width: 90%;
    max-width: 400px;
    /* Limitar el ancho máximo */
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    /* Centra verticalmente en la mitad superior */
    left: 50%;
    transform: translate(-50%, -25%);
    font-family: 'Poppins', sans-serif;
    /* Aplicar fuente Poppins */
}

/* Estilos para el título */
.contenedor-titulo-autoquizfillapp h2 {
    font-family: 'Poppins', sans-serif;
    /* Asegurar que el título también use Poppins */
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}


#titulo-verified {
    font-family: 'Poppins', sans-serif;
    /* Asegurar que el título también use Poppins */
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    color: #34495e;
    margin: 0;

}

/* Estilos para los inputs */
.contenedor-inputs-autoquizfillapp {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.login-entrada-autoquizfillapp {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* Aplicar fuente Poppins a los inputs */
}

.login-entrada-autoquizfillapp:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}

/* Estilos para el botón */
.contenedor-boton-autoquizfillapp {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-boton-autoquizfillapp {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    /* Aplicar fuente Poppins al botón */
}

.login-boton-autoquizfillapp:hover {
    background-color: #2980b9;
}